<form (ngSubmit)="invoice(cashSaleForm)" #cashSaleForm="ngForm">
  <div class="new-dollar">
    <div class="top-table">
      <table class="table">
        <tbody>
          <tr>
            <td colspan="2">
              <h3 class="text-center">Questions to calculate Tax</h3>
            </td>
          </tr>
          <tr>
            <td>
              <label class="label-css">First Name</label>
              <div class="input-wrap">
                <input type="text" [(ngModel)]="qa.firstName" class="input-css" name="firstName" #firstName="ngModel" required/>
              </div>
            </td>
            <td>
              <label class="label-css">Last Name</label>
              <div class="input-wrap">
                <input type="text" [(ngModel)]="qa.lastName" class="input-css" name="lastName" #lastName="ngModel" required/>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <label class="label-css">City</label>
              <div class="input-wrap">
                <input type="text" [(ngModel)]="qa.city" class="input-css" name="city" #city="ngModel" required/>
              </div>
            </td>
            <td>
              <label class="label-css">Email</label>
              <div class="input-wrap">
                <input type="email" [(ngModel)]="qa.email" class="input-css" name="email" #email="ngModel" required/>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <label class="label-css">Status</label>
              <div class="select-wrap">
                <p-dropdown [options]="statusOptions" [(ngModel)]="qa.status" placeholder="Select Status" optionLabel="name" name="status"
                  #status="ngModel" required="true"></p-dropdown>
              </div>
            </td>
            <td>
              <label class="label-css">State</label>
              <div class="select-wrap">
                <p-dropdown [options]="stateOptions" [(ngModel)]="qa.state" placeholder="Select State" optionLabel="name" name="state" #state="ngModel"
                  required="true"></p-dropdown>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <label class="label-css">Do you currently own a business? </label>
              <div class="select-wrap">
                <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="qa.ownBusiness" name="ownBusiness" #ownBusiness="ngModel"></p-inputSwitch>
              </div>
            </td>
            <td>
              <label class="label-css">What is the percentage of ownership?</label>
              <div class="input-wrap">
                <p-spinner size="30" [(ngModel)]="qa.ownPercentage" [min]="1" [max]="100" name="ownPercentage" #ownPercentage="ngModel"></p-spinner>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <label class="label-css">What type of business are you in?</label>
              <div class="input-wrap">
                <input type="text" [(ngModel)]="qa.typeOfBusiness" class="input-css" name="typeOfBusiness" #typeOfBusiness="ngModel" required/>
              </div>
            </td>
            <td>
              <label class="label-css">What is your adjusted gross income?</label>
              <div class="input-wrap">
                <input type="text" [(ngModel)]="qa.adjustedIncome" class="input-css" name="adjustedIncome" #adjustedIncome="ngModel" required/>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <label class="label-css">How many children do you claim on your tax return?</label>
              <div class="input-wrap">
                <p-spinner size="30" [(ngModel)]="qa.childToClaim" [min]="1" [max]="10" name="childToClaim" #childToClaim="ngModel"></p-spinner>
              </div>
            </td>
            <td>
              <label class="label-css">Can the children work in your business?</label>
              <div class="select-wrap">
                <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="qa.childWork" name="childWork" #childWork="ngModel"></p-inputSwitch>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <label class="label-css">Do you have a spouse that works in the business?</label>
              <div class="select-wrap">
                <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="qa.spouseWork" name="spouseWork" #spouseWork="ngModel"></p-inputSwitch>
              </div>
            </td>
            <td>
              <label class="label-css">How much do you spend on domestic vacations annually?</label>
              <div class="input-wrap">
                <input type="text" [(ngModel)]="qa.domesticVacAmount" class="input-css" name="domesticVacAmount" #domesticVacAmount="ngModel"
                  required/>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <label class="label-css">What are your annual out of pocket medical expenses not including insurance premium?</label>
              <div class="input-wrap">
                <input type="text" [(ngModel)]="qa.medicalExpense" class="input-css" name="medicalExpense" #medicalExpense="ngModel" required/>
              </div>
            </td>
            <td>
              <label class="label-css">Do you have a health savings account?</label>
              <div class="select-wrap">
                <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="qa.savingAccount" name="savingAccount" #savingAccount="ngModel"></p-inputSwitch>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <label class="label-css">Do you have a home gym?</label>
              <div class="select-wrap">
                <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="qa.homeGym" name="homeGym" #homeGym="ngModel"></p-inputSwitch>
              </div>
            </td>
            <td>
              <label class="label-css">Do you have a company wide retirement plan?</label>
              <div class="select-wrap">
                <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="qa.retirement" name="retirement" #retirement="ngModel"></p-inputSwitch>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <label class="label-css">Have you purchased a building other than a personal residence or vacation home in the last 5 years?</label>
              <div class="select-wrap">
                <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="qa.buildingPurchased" name="buildingPurchased" #buildingPurchased="ngModel"></p-inputSwitch>
              </div>
            </td>
            <td>
              <label *ngIf="qa.buildingPurchased" class="label-css">Estimated cost</label>
              <div *ngIf="qa.buildingPurchased" class="input-wrap">
                <input type="text" [(ngModel)]="qa.estimatedCost" class="input-css" name="estimatedCost" #estimatedCost="ngModel" required/>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <label class="label-css">Do you have life insurance?</label>
              <div class="select-wrap">
                <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="qa.lifeInsurance" name="lifeInsurance" #lifeInsurance="ngModel"></p-inputSwitch>
              </div>
            </td>
            <td>
              <label *ngIf="qa.lifeInsurance" class="label-css">How many years have you had life insurance (if yes)?</label>
              <div *ngIf="qa.lifeInsurance" class="select-wrap">
                <p-spinner size="30" [(ngModel)]="qa.yearsOfLifeInsurance" [min]="1" [max]="50" name="yearsOfLifeInsurance" #yearsOfLifeInsurance="ngModel"></p-spinner>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <label class="label-css">Do you have a living trust?</label>
              <div class="select-wrap">
                <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="qa.livingTrust" name="livingTrust" #livingTrust="ngModel"></p-inputSwitch>
              </div>
            </td>
            <td>
              <label class="label-css">Do you have a will?</label>
              <div class="select-wrap">
                <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="qa.haveWill" name="haveWill" #haveWill="ngModel"></p-inputSwitch>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>