<form-wizard>
  <wizard-step [title]="'Personal Detail'" [isValid]="personalForm.form.valid">
    <h3>Personal Details</h3>
    <form #personalForm="ngForm">
      <div class="new-dollar-form">
        <div class="top-table-form">
          <div class="detils-form">
            <div class="ui-g-12 ui-md-6">
              <label class="label">First Name *</label>
              <div class="input-wrap">
                <input type="text" pInputText [(ngModel)]="qa.FirstName" class="input-css" name="firstName" #firstName="ngModel" required="true"
                />
              </div>
              <div *ngIf="firstName.invalid">
                <div class="error-alert" *ngIf="firstName.errors.required">
                  First Name is required.
                </div>
              </div>
            </div>
            <div class="ui-g-12 ui-md-6">
              <label class="label">Last Name *</label>
              <div class="input-wrap">
                <input type="text" [(ngModel)]="qa.LastName" class="input-css" name="lastName" #lastName="ngModel" required/>
              </div>
              <div *ngIf="lastName.invalid">
                <div class="error-alert" *ngIf="lastName.errors.required">
                  Last Name is required.
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="ui-g-12 ui-md-6">
              <label class="label">Filling Status *</label>
              <div class="select-wrap">
                <p-dropdown [options]="statusOptions" [(ngModel)]="qa._FilingStatus" placeholder="Select Status" optionLabel="name" name="FilingStatus"
                  #FilingStatus="ngModel" required="true"></p-dropdown>
              </div>
              <div *ngIf="FilingStatus.invalid">
                <div class="error-alert" *ngIf="FilingStatus.errors.required">
                  Select Filling Status.
                </div>
              </div>
            </div>
            <div class="ui-g-12 ui-md-6">
              <label class="label">State *</label>
              <div class="select-wrap">
                <p-dropdown [options]="stateOptions" [(ngModel)]="qa.State" placeholder="Select State" optionLabel="name" name="State" #State="ngModel"
                  required="true"></p-dropdown>
              </div>
              <div *ngIf="State.invalid">
                <div class="error-alert" *ngIf="State.errors.required">
                  Select State.
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="ui-g-12 ui-md-6">
              <label class="label">What is your taxable income? *</label>
              <div class="input-wrap">
                <p-spinner size="30" [(ngModel)]="qa._TaxableIncome" [min]="0" [step]="1000" name="TaxableIncome" #TaxableIncome="ngModel"
                  require="true"></p-spinner>
              </div>
              <div *ngIf="TaxableIncome.invalid">
                <div class="error-alert" *ngIf="TaxableIncome.errors.required">
                  Taxable Income is required.
                </div>
              </div>
            </div>
            <div class="ui-g-12 ui-md-6">
              <label class="label">Do you currently own a business? </label>
              <div class="select-wrap switch-wrap">
                <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="qa._BusinessOwner" name="BusinessOwner" #BusinessOwner="ngModel"></p-inputSwitch>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="ui-g-12 ui-md-6">
              <label class="label">Who invited you to take this survey?</label>
              <div class="select-wrap">
                <p-dropdown [options]="salePersons" optionLabel="FullName" [(ngModel)]="qa._SalePerson" placeholder="Select the Person"
                  name="SalePerson" #SalePerson="ngModel" required="false">
                </p-dropdown>
              </div>
              <!-- <div *ngIf="SalePerson.invalid">
                <div class="error-alert" *ngIf="SalePerson.errors.required">
                  Select sale person.
                </div>
              </div> -->
            </div>            
          </div>
        </div>
      </div>
    </form>
  </wizard-step>
  <wizard-step [title]="'Business Ownership Questions'" [hidden]="!qa._BusinessOwner" [isValid]="businessForm.form.valid">
    <h3>Business Ownership Details</h3>
    <form #businessForm="ngForm">
      <div class="new-dollar-form">
        <div class="top-table-form">
          <div class="detils-form">
            <div class="ui-g-12 ui-md-6">
              <label class="label">Are you and/or your spouse the sole owner(s) of the business?</label>
              <div class="select-wrap">
                <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="qa._SoleOwner" name="SoleOwner" #SoleOwner="ngModel"></p-inputSwitch>
              </div>
            </div>
            <div class="ui-g-12 ui-md-6">
              <div *ngIf="!qa._SoleOwner">
                <label class="label">What is the percentage of ownership?</label>
                <div class="select-wrap">
                  <p-dropdown [options]="ownPercentageOptions" [(ngModel)]="qa._PercentOwnership" placeholder="Select Percentage" name="PercentOwnership"
                    #PercentOwnership="ngModel" required="true"></p-dropdown>
                </div>
                <div *ngIf="PercentOwnership.invalid">
                  <div class="error-alert" *ngIf="PercentOwnership.errors.required">
                    Select percentage of ownership.
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="ui-g-12 ui-md-6">
              <div>
                <label class="label">What type of business are you in?</label>
                <div class="input-wrap">
                  <input type="text" [(ngModel)]="qa._BusinessType" class="input-css" name="BusinessType" #BusinessType="ngModel" required/>
                </div>
                <div *ngIf="BusinessType.invalid">
                  <div class="error-alert" *ngIf="BusinessType.errors.required">
                    Enter type of business.
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="ui-g-12 ui-md-6">
              <label class="label">How many children do you claim on your tax return?</label>
              <div class="input-wrap">
                <p-spinner size="30" [(ngModel)]="qa._NumberOfChildren" [min]="0" [max]="6" name="NumberOfChildren" #NumberOfChildren="ngModel"
                  require="true"></p-spinner>
              </div>
              <div *ngIf="NumberOfChildren.invalid">
                <div class="error-alert" *ngIf="NumberOfChildren.errors.required">
                  Select no. of Children.
                </div>
              </div>
            </div>
            <div class="ui-g-12 ui-md-6">
              <div *ngIf="qa._NumberOfChildren > 0">
                <label class="label">Can your children work in your business?</label>
                <div class="select-wrap">
                  <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="qa._ChildrenWorkInBusiness" name="ChildrenWorkInBusiness" #ChildrenWorkInBusiness="ngModel"></p-inputSwitch>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="ui-g-12 ui-md-6">
              <label class="label">How much do you spend on domestic vacations annually?</label>
              <div class="input-wrap">
                <p-spinner size="30" [(ngModel)]="qa._VacationAmount" [min]="0" [step]="1000" name="VacationAmount" #VacationAmount="ngModel"
                  require="true"></p-spinner>
              </div>
              <div *ngIf="VacationAmount.invalid">
                <div class="error-alert" *ngIf="VacationAmount.errors.required">
                  Enter annual vacation amount.
                </div>
              </div>
            </div>
            <div class="ui-g-12 ui-md-6">
              <label class="label">Do you have a health savings account?</label>
              <div class="select-wrap">
                <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="qa._HSA" name="HSA" #HSA="ngModel"></p-inputSwitch>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="ui-g-12 ui-md-6">
              <label class="label">Do you have a home office?</label>
              <div class="select-wrap">
                <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="qa.HomeOffice" name="HomeOffice" #HomeOffice="ngModel"></p-inputSwitch>
              </div>
            </div>
            <div class="ui-g-12 ui-md-6">
              <label class="label">Do you have a company wide retirement plan?</label>
              <div class="select-wrap">
                <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="qa._CompanyRetirementPlan" name="CompanyRetirementPlan" #CompanyRetirementPlan="ngModel"></p-inputSwitch>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="ui-g-12 ui-md-6">
              <label class="label">Have you purchased a building other than a personal residence or vacation home in the last 5 years?</label>
              <div class="select-wrap">
                <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="qa._BuildingPurchase" name="BuildingPurchase" #BuildingPurchase="ngModel"></p-inputSwitch>
              </div>
            </div>
            <div class="ui-g-12 ui-md-6">
              <div *ngIf="qa._BuildingPurchase">
                <label class="label">Estimated cost</label>
                <div class="input-wrap">
                  <p-spinner size="30" [(ngModel)]="qa._BuildingCost" [min]="0" [step]="1000" name="BuildingCost" #BuildingCost="ngModel" require="true"></p-spinner>
                </div>
                <div *ngIf="BuildingCost.invalid">
                  <div class="error-alert" *ngIf="BuildingCost.errors.required">
                    Enter building cost.
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="ui-g-12 ui-md-6">
              <label class="label">Are you current on your tax obligations including filing and payments?</label>
              <div class="select-wrap">
                <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="qa._CurrentOnTaxes" name="CurrentOnTaxes" #CurrentOnTaxes="ngModel"></p-inputSwitch>
              </div>
            </div>
            <div class="ui-g-12 ui-md-6">
              <label class="label">How are you keeping your books?</label>
              <div class="select-wrap">
                <p-dropdown [options]="keepBooksOptions" [(ngModel)]="qa._BookKeepingMethod" placeholder="Select" name="BookKeepingMethod"
                  #BookKeepingMethod="ngModel" required="true"></p-dropdown>
              </div>
              <div *ngIf="BookKeepingMethod.invalid">
                <div class="error-alert" *ngIf="BookKeepingMethod.errors.required">
                  Select book keeping method.
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="ui-g-12 ui-md-6">
              <label class="label">Are your books current?</label>
              <div class="select-wrap">
                <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="qa._BooksCurrent" name="BooksCurrent" #BooksCurrent="ngModel"></p-inputSwitch>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </wizard-step>
  <wizard-step [title]="'Extra Questions'" [isValid]="extraForm.form.valid" (onComplete)="onStep3Next($event)">
    <h3>Extra Questions</h3>
    <form #extraForm="ngForm">
      <div class="new-dollar-form">
        <div class="top-table-form">
          <div class="detils-form">
            <div class="ui-g-12 ui-md-6">
              <label class="label">Do you have life insurance?</label>
              <div class="select-wrap">
                <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="qa._LifeInsurance" name="LifeInsurance" #LifeInsurance="ngModel"
                  require="true"></p-inputSwitch>
              </div>
            </div>
            <div class="ui-g-12 ui-md-6">
              <label class="label">Do you have a living trust?</label>
              <div class="select-wrap">
                <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="qa._LivingTrust" name="LivingTrust" #LivingTrust="ngModel" require="true"></p-inputSwitch>
              </div>
            </div>            
            <div class="clearfix"></div>

            <div class="ui-g-12 ui-md-6">
              <label class="label">Do you have a will?</label>
              <div class="select-wrap">
                <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="qa._HaveWill" name="HaveWill" #HaveWill="ngModel" require="true"></p-inputSwitch>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </wizard-step>
</form-wizard>